@import './base.css';

@import 'primeicons/primeicons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
  overflow-x: hidden;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
}
